.link{
    color: #FCB742;
    font-size: 1.7em;
    border: 5px solid red;
    z-index: 3;
    text-decoration: none;
    text-shadow:0px 2px 6px #FCB742;
    font-family: "League Spartan", sans-serif;

}