.display {
    display: flex;
    flex-direction:column;
    justify-content:center;
    
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    overflow-x:hidden ;
    transition: 2s;
    z-index: 2;
  }

  .display::-webkit-scrollbar {
    width: 10px;
    
  }

  .display::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  .display::-webkit-scrollbar-thumb {
    background-color: #FCB742;
    border-radius: 20px;
  }

.newsFocus{
  display: inline-block;
  width: 100%;
  text-align: center;

}
  
.display .background-blur {
  position: absolute; /* Fixa a camada de fundo */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Aplica o blur diretamente à imagem */
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
}