.Title {
    position: fixed;
    border: 5px solid red;
    width: 20%;
    color: azure;
    font-weight: 100;
    color: #00C1EA;
    text-shadow: 5px 5px 5px rgba(15, 47, 134, 0.575);
    font-family: "Julius Sans One";
    font-size: 60px;
}