.Icons{
    width: 15%;
    min-width: 12vw;
    margin: 5px;
    align-content:flex-end;
}

.Icons:hover {
    z-index: 3;
    transform: scale(1.03);
  }
  
  .ContainerCat .Icons{
    width: 11vw;
    max-width: 10em;
    min-width: 6em;
  }