.container {
  display: flex;
  min-width: 300px;
    /** border: 5px solid red; **/
    width: 19vw;
    transition: margin 2s;
    z-index: 1;
  }
  
  .hide {
    margin-top: -250px;
  }
  
  .show {
    margin-top: 0px;
    position: relative;
  }

  @media screen and (max-width:700px) {
    .container{
      display: block;
      min-width: 200px;
    }
  }
  